:root {
    --primary: #87DB20;
    --secondary: #A935EB;
    --text: #1A1110;
    --background: #fffff0;
    --antagonist: #a91c3d;
}

.btn-logout {
    background-color: var(--antagonist);
    color: var(--background);
    padding: .5rem 1.2rem;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: 600;
}